* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: rgba(80, 255, 255, 0.3);
}

.container {
  display: flex;
  justify-content: center;
}

header {
  border-bottom: 2px solid black;
  background-color: rgba(80, 255, 255, 1);
}

form {
  min-width: 60%;
  background-color: rgba(80, 255, 255, 1);
  padding: 10px;
  margin-top: 9px;
  border: 2px solid black;
  border-radius: 10px;
}

label {
  font-size: large;
  font-weight: 500;
  margin: 15px 0px;
}

.meme-images {
  display: flex;
  justify-content: space-between;
}

.memeandradio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memeandradio > img {
  height: 150px;
}

.text-input label {
  display: block;
}

.text-input input {
  width: 100%;
  height: 30px;
}

#submit-btn {
  margin-top: 10px;
  font-size: large;
  width: 50%;
}

.generated-meme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generated-meme img {
  height: 400px;
}

.text-meme {
  text-align: center;
  font-size: xx-large;
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.text-meme-top {
  position: absolute;
  top: 0%;
  bottom: 100%;
  left: 10%;
}

.text-meme-bottom {
  position: absolute;
  top: 70%;
  left: 10%;
}

.generated-meme > div {
  position: relative;
}
