* {
    margin: 0;
    padding: 0;
}

img {
    width: 200px;
    height: 200px;
}

.grid {
    /* width: 80%;
    background-color: burlywood;
    display: grid; */
    /* grid-gap: 20px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 100px); */
    /* grid-template: 1fr 1fr 1fr 1fr / repeat(6, 100px); */
}

#robot2 {
    /* order: 99; */
    position: absolute;
}

#robot1 {
}

#robot3 {
    /* grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 3; */
    /* grid-column: 1 / 2;
    grid-row: 2 / 1; */
    /* grid-column: 1/ span 3;
    grid-row: 2/ span 3; */
    /* grid-area: 2 / 1 / span 3 / span 3 ; */
}
