<!DOCTYPE html>
<html>

<head>
    <title>CIT - WEB</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <header class="header-style">
        <div class="head">
            <h1>Start Bootstrap</h1>
        </div>
        <ul class="list">
            <li><a class="list-style" href="#">Services</a></li>
            <li><a class="list-style" href="#">Portfolio</a></li>
            <li><a class="list-style" href="#">Team</a></li>
            <li><a class="list-style" href="#">About</a></li>
            <li><a class="list-style" href="#">Contact</a></li>
        </ul>
    </header>

    <main>
        <div class="body">
            <h3>Welcome To Our Studio!</h3>
            <h1>IT'S NICE TO MEET YOU</h1>
            <button class="body-btn">Tell me more</button>
        </div>
    </main>




</body>

</html>